/* VÁRIÁVEIS */
:root {
  --cor-roxa: #7c00fe;
  --cor-amarela: #f9e400;
  --cor-laranja: #ffaf00;
  --cor-vermelho: #f5004f;
  --cor-branca: #ededed;
  --cor-preta: #161616;
}
/* <<<<<<< HEAD */
/* ************ */


/* INDEX */

/* NAVBAR */
.btn-roxo{
    background-color: #7c00fe;
    color: #ededed;
}

.btn-roxo:hover{
    background-color: #f9e400;
    color: #161616;
    border: 1px solid #7c00fe;
}

.navbar{
    background-color: #ededed;
}

.navbar li{
    font-weight: 600;
}
/* FIM NAVBAR */


/* HEADER */
.bg-roxo{
    background-color: #7c00fe;
}

#headerBanner{
    overflow: hidden;
}

.card-orange{
    background-color: #ffaf00;
}

.card-yellow{
    background-color: #f9e400;
}

/* FIM HEADER */


/* CARROSSEL */
.bg-white-carrossel{
    background-color: #ededed8e;
}

.bg-white-carrossel p{
    font-weight: 600;
}
/* FIM CARROSSEL */





/* FIM INDEX */



/* ======= */

.btn{background-color: #7c00fe;
color: #ededed  ;}
.btn:hover{background-color: #f9e400;
color:var(--cor-preta);}
.bg-laranja{
  background-color: var(--cor-laranja);
}
.border-radius{
  border-radius: 10px;
}
.logo-footer{
  height: 26px;
}
.display-flex{
  display: flex;
}
.flex-center{
  justify-content: center;
  gap: 7px;
}
.align-center{
  align-items: center;
}
/* >>>>>>> 78242aead0b7ab6a09982eaf33e9879e7119150b */
