/* VÁRIÁVEIS */
:root {
  --cor-roxa: #7c00fe;
  --cor-amarela: #f9e400;
  --cor-laranja: #ffaf00;
  --cor-vermelho: #f5004f;
  --cor-branca: #ededed;
  --cor-preta: #161616;
}
/* <<<<<<< HEAD */
/* ************ */


/* INDEX */

/* NAVBAR */

.navbar{
    background-color: #ffaf00;
}

.navbar li{
    font-weight: 600;
}
/* FIM NAVBAR */


/* HEADER */
.bg-roxo{
    background-color: #7c00fe;
}

#headerBanner{
    overflow: hidden;
}

.card-orange{
    background-color: #ffaf00;
}

.card-yellow{
    background-color: #f9e400;
}

/* FIM HEADER */

/* MAIN */
main{
    min-height: 79.1vh;;
}

.card-body{
    background-color: #f9e400;
}
/* FIM MAIN */


/* CARROSSEL */
.bg-white-carrossel{
    background-color: #ededed8e;
}

.bg-white-carrossel p{
    font-weight: 600;
}
/* FIM CARROSSEL */



/* FOOTER */
.centro{
    display: flex;
    align-items: center;
}

.footer-icons{
    text-decoration: none;
    color: #161616;
}
/* FIM FOOTER */

/* FIM INDEX */




/* ======= */
.logo{
  width: 200px;
}

footer{
  padding: 20px;
  font-size: 20px;
}

.btn{background-color: #7c00fe;
color: #ededed  ;}
.btn:hover{background-color: #ffaf00;
color:var(--cor-preta);
border: 1px solid #7c00fe;}
.bg-laranja{
  background-color: var(--cor-laranja);
}
.bg-vermelho{
    background-color: var(--cor-vermelho);
}
.bg-amarelo{
    background-color: var(--cor-amarela);
}
/* >>>>>>> 78242aead0b7ab6a09982eaf33e9879e7119150b */

/* SERVIÇOS */

.img-servico{
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

/* FIM SERVIÇOS */

/* PRODUTOS */


.card-produtos {
    width: 100%;
    transition: 0.2s ease-in-out;
}

.card-produtos:hover{
    transform: scale(1.05);
}




.praticas-ecologicas{
    background-color: #f9e400;
}

.main-produtos{
    background-color: #f5004f;
}
