/* VÁRIÁVEIS */
:root {
  --cor-roxa: #7c00fe;
  --cor-amarela: #f9e400;
  --cor-laranja: #ffaf00;
  --cor-vermelho: #f5004f;
  --cor-branca: #ededed;
  --cor-preta: #161616;
}
/* <<<<<<< HEAD */
/* ************ */


/* INDEX */

/* NAVBAR */
.dropdown-menu{
    background-color: #ffaf00;
}

.dropdown-item:hover{
    border-radius: 10px;
    background-color: #7c00fe;
    color: #ededed;
}

.navbar{
    background-color: #ffaf00;
}

.navbar li{
    font-weight: 600;
}
/* FIM NAVBAR */


/* HEADER */
.bg-roxo{
    background-color: #7c00fe;
}

#headerBanner{
    overflow: hidden;
}

.card-orange{
    background-color: #ffaf00;
}

.card-yellow{
    background-color: #f9e400;
}

/* FIM HEADER */

/* MAIN */
.main-index{
    background-color: #f5004f;
}

.card-body{
    background-color: #f9e400;
}
/* FIM MAIN */


/* CARROSSEL */
.bg-white-carrossel{
    background-color:#f9e400;
}

.bg-white-carrossel p{
    font-weight: 600;
}

.carrossel{
    min-height: 30vh;
}
/* FIM CARROSSEL */



/* FOOTER */
.centro{
    display: flex;
    align-items: center;
}

.footer-icons{
    text-decoration: none;
    color: #161616;
}
/* FIM FOOTER */


/* OFFCANVAS */
.offcanvas{
    background-color: #ffaf00;
}

.nav-link-offcanvas{
    font-size: larger;
}
/* FIM OFFCANVAS */

/* FIM INDEX */




/* ======= */
.logo{
  width: 200px;
}

footer{
  padding: 20px;
  font-size: 20px;
}
/*Lucas*/
.btn-roxo{background-color: #7c00fe;
color: #ededed  ;}
.btn-roxo:hover{background-color: #ffaf00;
color:var(--cor-preta);
border: 1px solid #7c00fe;}
.bg-laranja{
  background-color: var(--cor-laranja);
}
.bg-vermelho{
    background-color: var(--cor-vermelho);
}
.bg-amarelo{
    background-color: var(--cor-amarela);
}
/* >>>>>>> 78242aead0b7ab6a09982eaf33e9879e7119150b */

/* SERVIÇOS */

.img-servico{
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

/* FIM SERVIÇOS */

/* GALERIA */

.grid-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap:20px

}

.banner{
    height: 200px;
}

/* FIM GALERIA */


/* PRODUTOS */


.card-produtos {
    width: 100%;
    transition: 0.2s ease-in-out;
}

.card-produtos:hover{
    transform: scale(1.05);
}




.praticas-ecologicas{
    background-color: #f9e400;
}

.main-produtos{
    background-color: #f5004f;
}

/* FIM PRODUTOS */


/*CONTRATO */
.main-contrato{
    min-height: 69vh;
}

.body-contrato{
    background-image: url(../img/commercial-cleaners-cleaning-office-floors-1024x683.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.body-contrato-gradiente{
    background-color: #f5004e80;
}
/* FIM CONTRATO */

/* SAC */
.imagem-card-sac{
    width: 90px;
}

.section-sac{
    min-height: 69.1vh;
}

.body-sac{
    background-image: url(../img/thames-water-jobs-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.body-sac-gradiente{
    background-color: #f5004e76;
}

.card-depoimento{
    border: 1px #7c00fe;
    background-color: #f9e400;
}

.card-body-depoimento{
    min-height: 25.5vh;
}

.card-title-depoimento{
    background-color: #7c00fe;
}
/* FIM SAC */

/* ENDEREÇOS */
.body-enderecos{
    background-color: #f5004f;
}

.fundo-mapa{
    background-color: #f9e400;
}

.accordion-item{
    background-color:  #7c00fe;
    border-radius: 10px;
    color: #ededed;
}

.accordion-button{
    background-color: #f9e400;
    border-radius: 10px;
}

.accordion-button:hover{
    background-color: #f9e400;
    outline: none;
}
/* FIM ENDEREÇOS */
